body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url('http://2.bp.blogspot.com/-uuj0w-O7ieU/UL4GEZWKpFI/AAAAAAAAOa0/NYBD3r0iHFw/s1600/Popcorn+Wallpapers+01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.movie-card {
  background-color: #fff;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  color: black;
  text-decoration: none;
  width: 90%;
}

.movie-director {
  padding: 4px 0;
  font-size: 0.8rem;
}

.saved-list {
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 1rem;
  cursor: pointer;
  position: relative;
  margin: 1rem auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.saved-list h3 {
  margin-right: 10px;
}

.saved-movie {
  margin: 0 10px;
}
.saved-active {
  color: #15706c;
  border: 1px solid grey;
  padding: 5px;
}
.save-wrapper {
  position: relative;
  width: 75%;
  margin: 1rem auto;
}

/* BUTTONS */
.button-stack {
  position: absolute;
  right: 35px;
  top: 0;
  display: flex;
  flex-direction: column;
}

.button {
  align-self: center;
  margin: 20px ;
  border: none;
  height: 40px;
  width: 80px;
  background-color: #1f9b95;
  cursor: pointer;

}
.button:hover {
  background-color: #80a8a6;
  transform: scale(1.05);
  color: white
}
.home-button {
  align-self: center;
  margin: 20px ;
  border: 1px solid black;
  padding: 12px 20px;
  background: none;
  text-decoration: none;
  color: #1f9b95;
}
.home-button:hover{
  transform: scale(1.05);
}

.movie-warning {
  color: red;
  text-align: center;
}

/* FORM */
form{
  justify-content: center;
  align-content: space-between;
  display: flex;
  flex-direction: column;
  max-width: 45VW;
  height: 50vh;
  background-color: #fff;
  border: 0;
  box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px #0000001f,
    0 2px 4px #0000003d;
  padding: 1rem;
  margin: 2rem auto;
}

form input{
  align-content: space-between;
  margin: 10px auto;
  width: 90%;
  height: 30px;
}

form h2{
  text-align: center;
}